:root {
  --green: #008000;
  --white: #ffffff;
  --purple: #800080;
  --orange: #ffa500;
  --black: #000000;
}

body {
  background: var(--purple);
  color: var(--white);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black)
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 2em;
  padding: 0.5em 1em;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

.main {
  margin-top: 120px;
  padding: 0 0.5em;
}

@media (max-width: 414px) {
  nav ul li {
    width: 100%;
  }

  .main {
    margin-top: 200px;
  }
}

@media (min-width: 415px) {
  body {
    background: var(--orange);
    color: var(--black);
  }
}
@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}
